// Responsive for mobile device
@media (max-width: 1400px){
    // Service section style start
    .service{
        &-item{
            &-card{
                & .card{
                    width: 30%;
                }
            }
        }
    }
    // Service section style end
    
    // Product section start
    .product{
        &-item{
            &-card{
                & .card{
                    width: 30%;
                }
            }
        }
    }
    // Product section end


    // Portfolio section style start
.portfolio{
    padding-top: 90px;
    &-nav{
        &-menu{
            display: flex;
            justify-content: center;
            gap: 33px;
            &-item{
                list-style-type: none;
                transition: 0.7s ease;
                font-size: 22px;
                margin: 20px 0;
                &:hover{
                    color: dodgerblue;
                }
            }
        }
    }
    &-card{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        &-item{
            display: none;
            &.active{
                display: block;
            }
            &:hover &-overlay{
                top: 0;
            }
            width: 30%;
            position: relative;
            overflow: hidden;
            & img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: 10px;
            }
            &-overlay{
                position: absolute;
                top:100%;
                left: 0;
                color: #fff;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                z-index: 1;
                transition: 0.3s;
                &::before{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: #333;
                    opacity: 0.77;
                    color: #ffffff;
                    z-index: -1;
                }
            }
        }
    }
}
// Portfolio section style end
}